<app-navbar></app-navbar>

<div class="community-container">
    <div class="banner-center-container">
        <div class="banner-container">
            <img src="https://img.freepik.com/free-photo/computer-program-coding-screen_53876-138060.jpg?t=st=1730069238~exp=1730072838~hmac=5533093270f18313dbd55f1ec1095798cd3c5a614cc3c3f94448113abb7bc5a9&w=826"
            alt="group-banner" class="community-banner">
        </div>
    </div>

    <div class="group-info">
        <div class="group-picture-and-info">
            <div class="group-picture">
                <img src="https://img.freepik.com/free-photo/rear-view-programmer-working-all-night-long_1098-18697.jpg" alt="group-picture">
            </div>
            <div class="info">
                <h1>Grupo de Desenvolvimento Web</h1>
                <p>Uma breve descrição do grupo aqui</p>
            </div>
        </div>
        <button class="join-button">Juntar-se</button>
    </div>

    <div class="posts-container">
        
    </div>
</div>
