<nav class="navbar" [ngClass]="{ 'active': isMenuOpen }">
    <div class="navbar-logo">
        <img src="https://i.imgur.com/k1WIbgJ.png" alt="Descrição da Imagem" class="navbar-logo-image" />
        <p><strong>Unifórum</strong></p>
    </div>

    <div class="navbar-links" [ngClass]="{ 'show': isMenuOpen }">
        <ul class="navbar-menu">
            <li><a (click)="redirectToOtherPage('/')">Home</a></li>
            <li><a (click)="redirectToOtherPage('/')">Perguntas Frequentes</a></li>
        </ul>
        <button class="login-btn" (click)="redirectToOtherPage('/login')"><strong>Entrar</strong></button> <!-- Mantido dentro do menu -->
    </div>

    <button class="hamburger" aria-label="Toggle menu" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
</nav>