<div class="page-container">
    <app-navbar></app-navbar>

    <div class="container">
        <h2>Grupos aderidos</h2>
        <div class="joined-groups">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    
        <h2>Grupos criados</h2>
        <div class="created-groups">        
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    
        <div class="button-container">
            <button class="create-group-btn" type="button">Criar um grupo</button>
        </div>
    </div>
</div>
